.landing {
  background: no-repeat center/100% url("./assets/splash.jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-header {
  background-color: #62825e;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-footer {
  background-color: #62825e;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

h1 {
  font-family: 'Neucha', cursive;
  color: #eae0d3;
  font-size: 2rem;
  letter-spacing: 3pt
}

h2 {
  font-size: 1.5rem;
  background-color: lightblue;
  padding: .5rem 1rem;
}


.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

label, p {
  font-family: 'Lora', serif;
  letter-spacing: .5pt;
  align-self: center
}

.createGroup {
  align-self: center;
  padding: .7rem .6rem .45rem .6rem;
  border-radius: 5pt;
  color: #eae0d3;
  margin-top: 3rem;
  box-shadow: 5px 5px 5px grey;
}

.createGroup:hover {
  box-shadow: 5px 5px 5px rgb(91, 111, 122);
}

.btn, button, input[type="submit"] {
  background-color: #62825e;
  color: #eae0d3;
  padding: .7rem 1rem .5rem 1rem;
  margin: .5rem;
  font-family: 'Neucha', cursive;
  letter-spacing: .5pt;
  font-size: 1rem;
  border-radius: 5pt;
}

.createGroup a {
  color: #eae0d3;
  font-size: 1rem;
  font-family: 'Neucha', cursive;
  letter-spacing: 1pt
}

.formEnd {
  width: 10rem;
  align-self: center;
  padding: .5rem;
  border-radius: 5pt;
  color: #eae0d3;
}

.btn-primary {
  margin: 0;
}

small {
    color: #eae0d3;
    font-family: 'Neucha', cursive;
}

p {
  font-size: 1.25rem;
}
